<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kz.epamlibrary">

    <application
            android:name=".app.AppController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".base.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".base.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".base.HomeActivity"
                android:label="@string/title_activity_home"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".base.RegisterActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".profile.mylibrary.MyLibraryActivity">
        </activity>
        <activity android:name=".profile.mylibrary.EditActivity">
        </activity>
        <activity android:name=".profile.rentedbooks.RentedBooksActivity">
        </activity>
        <activity android:name=".profile.wishlist.MyWishListActivity">
        </activity>
        <activity android:name=".explore.CategoriesActivity">
        </activity>
        <activity android:name=".explore.BookDetailActivity">
        </activity>
    </application>

</manifest>